body {
  @apply bg-gray-50 text-base pt-14 xl:pl-60;
}

#app {
  @apply w-screen transition-all lg:w-auto;
}

.dropdown {
  @apply cursor-pointer;
}

.m-clipped,
.m-clipped body {
  @apply overflow-hidden lg:overflow-visible;
}

.form-screen body {
  @apply p-0;
}
.floating-input>input::placeholder {
    color: transparent;
}

.floating-input>input:focus,
.floating-input>input:not(:placeholder-shown) { 
@apply pt-8
}

.floating-input>input:focus~label, 
.floating-input>input:not(:placeholder-shown)~label {
  @apply opacity-75 scale-75 -translate-y-5 translate-x-1; 
}

img:before {
    content: ' ';
    display: block;
    position: absolute;
    height: 50%;
    width: 100%;
    background-image: url("https://via.placeholder.com/200");
}

